body {
	font-family: sans-serif;
	font-size: 14px;
	line-heaght: 24px;
	color: #000;
	font-weight: normal;
}

.gallery h2 {
	font-size: 30px;
	line-heaght: 42px;
	text-transform: uppercase;
	font-weight: normal;
}

.features h3{
	font-size: 30px;
	line-heaght: 42px;
	color: f7f4f1;
}
