body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  background-color: #000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page main{
  color: #000;

  background-color: #f8f5f2;
  background-image: url("../img/background-image-product.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.index-columns {
  color: #000;

  background-color: #f8f5f2;
  background-image: url("../img/background-image-product.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.main-header {
  margin-bottom: 75px;
}


.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #fff;

  background-color: transparent;
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}



.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.user-navigation {
  display: flex;
  max-width: 140px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  vertical-align: middle;
  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 18px;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding:0 10px;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 300px;

  text-align: center;
}

.feature-item h3{
  position: relative;

  margin: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.feature-item h3::after {
  content: "";

  position: absolute;
  bottom: -30px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #fff;

  transform: rotate(45deg);
}

.feature-item p {
  margin: 0 10px;
}

.index-columns{
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000000;

  background-color: #f8f5f2;
  background-image:
    url("../img/shadow.png");
    url("../img/background-image-product.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2{
  margin:0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}

.news-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p{
  margin: 0;
}

.news-item time {
  text-transform: none;
}

.gallery {
  width: 300px;
}

.gallery-container {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #ccc;
  border: 7px solid #fff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment {
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-item input {
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 70px;
}

.footer-contacts a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding:0;

  list-style: none;
}

.social-button {
  color: #fff;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000;

  background-color: #fff;
}

.modal {
  color: #000;

  background-color: #f8f5f2;
  background-image: url("../img/background-image-product.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font:inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
 color: #663d15;
}

.restore {
  color: #000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}
.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 70px;
}

.footer-contacts a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding:0;

  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;

  color: #fff;

  background-color: #212121;
  background-image: url("../img/bg_fot.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}







/*МОДАЛКИ*/

.modal {
  color: #000;

  background-color: #f8f5f2;
  background-image: url("../img/background-image-product.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font:inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
 color: #663d15;
}

.restore {
  color: #000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}






/*ВТОРАЯ СТРАНИЦА*/
.inner-page {
  background-color: #f8f5f2;
  background-image: url("../img/background-image-product.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.inner-page .main-header-logo {
  order: -1;

  width: 130px;
  height: 24px;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;

  cursor: pointer;
}

.inner-page .main-header,
.inner-page .main-navigation-wrapper{
  margin-bottom: 0;
}

.page-title {
  margin:0;
  margin-top: 54px;
  margin-bottom: 15px;
  padding:0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  display: flex;

  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  list-style: none;
}

.breadcrumbs a{
  position: relative;
  padding-right: 40px;

  color: #000;
}

.breadcrumbs a::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 18px;

  width: 8px;
  height: 8px;
  margin-top: -4px;

  background-color: #000;

  transform: rotate(45deg);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus{
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.filters {
  width: 180px;
}

.catalog {
  width: 700px;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  border: none;
}

.container legend {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;

  font-size: 24px;
  line-height: 30px;
}

.container fieldset ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-list,
.product-photo-preview li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label{
  color: #000;

  opacity: 0.5;
}

.filter li {
  margin-bottom: 13px;
}

.filter label {
  display: block;
  margin-left: 43px;
}


.catalog-item {
  display: flex;
  flex-direction: column;

  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.container-1 {
  display: flex;
  flex-direction: column;
}

.catalog-item-image{
  margin: 0;
  padding: 0;
  margin-bottom: 17px;

  order: -1;
}

.goods-items-name{
  margin: 0;
  padding: 0;
  padding-left: 17px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}
.catalog-list li,
.product-photo-full,
.product-photo-preview li {
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);

}

.catalog-list li:hover,
.catalog-list li:focus,
.product-photo-full:hover,
.product-photo-full:focus,
.product-photo-preview li:hover,
.product-photo-preview li:focus {
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);

}

.catalog-list a,
.product-price b {
  color: #000;
}

.catalog-list a.button {
  color: #fff;
  margin: 0;
}
.catalog-item-price{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 190px;
  margin-left: auto;
  margin-right: auto;

  background-color: #e5e5e5;
}

.cost{
  margin-left: auto;
  margin-right: auto;
}

.catalog-item-price b,
.product-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.catalog-category {
  text-transform: none;
}

.pagination-list,
.product-info li {
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-list{
  display: flex;
  flex-wrap: wrap;
}

.pagination-item{
  margin-right: 8px;
}

.pagination-item a{
  display: block;
  width: 43px;
  height: 43px;

  color: #fff;
  font: inherit;
  text-align: center;
  line-height: 43px;
}

.pagination-item a{
  background-color: #000;
}

.pagination-item a:focus,
.pagination-item a:hover {
  background-color: #663d15;
}

.pagination-item-current a{
  color: #000;
}

.pagination-item-current a,
.pagination-item-current a:focus,
.pagination-item-current a:hover{
  background-color: #fff;
}








/*третья страница*/

.wrapper-main-item {
  display: flex;
  justify-content: space-between;
}
.product-photo-preview {
  margin:0;
  padding:0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-availability {
  display: flex;
  justify-content: space-between;
}

.product-price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;

  background-color: #aba9a7;
}

.product-price b{
  padding-left: 39px;
  text-align: center;
}

.product-price .button{
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}



.product-info-list {
  margin: 0;
  padding: 0;
}
.product-info-list li {
  position: relative;
  padding-left: 20px;
}

.product-info-list li:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 8px;
  height: 8px;
  margin-top: -4px;

  background-color: #000;

  transform: rotate(45deg);
}


.product-info{
  margin-top: 21px;
}

.product-article {
  color: #aba9a7;
}

.product-img {
  width: 460px;
}

.product-info {
  width: 390px;
}


